

.main {
  background-color: white;
  height: 100%;
  width: 100%;
}

.nav {
  background-color: black;
  padding: 2%;
}

.me {
  width: 58%;
  height: 4.1%;
  position: absolute;
  left: 37%;
  top: 1.5%;
  text-align: right; 
  /* background-color: red; */
}

.button {
  padding: 1px 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 165%;
  font-family: hp_simp;
}

.button1 {
  padding: 15px 16px;
  background-color: black;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 140%;
  border-radius: 1.1cap;
  font-family: hp_simp;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.button1:hover {
  color: black;
  background-color: white;
  border: none;
}

.button_bold {
  padding: 1px 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 165%;
  font-family: hp_simp_bold;
}

.home {
  display: flex;
  left: 8.6%;
  width: 30%;
  height: 4.1%;
  top: 1.5%;
  position: absolute;
}

.overlayText {
  position: absolute;
  top: 19.6%;
  left: 8.6%;
  color: white; 
  font-size: 650%; 
  font-family: hp_simp_bold;
}


.overlayButton {
  background-color: transparent;
  font-family: hp_simp;
  position: absolute;
  top: 60.6%;
  left: 8.6%;
  color: white; 
  font-size: 100%; 
}

