.row1 {
    margin-left: 8.6%;
    margin-top: 8.6%;
    display: flex;
    flex-direction: row;
}

.row2 {
    margin-left: 8.6%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.t_shirt {
    display: inline-flex;
    height: 15.5%;
    width: 15.5%;
    margin-right: 30%;
}

/* I can't figure out how to fit squares to figma scale, so i just did invisible scrolling instead... */

.redundant {
    position: absolute;
    margin-top: 1%;
    margin-left: 8%;
}